.error-template{
    margin: 15px auto;
    display: table;
    text-align: center;
    padding-bottom: 85px;
}
.error-template .h1{
    font-size: 5em;
}
.error-template h2{
    margin: 26px 0px;
    font-weight: 600 !important;
    font-size: 3em;
}

.error-template .error-details{
    font-size: 2em;
    margin-bottom: 20px;
}